.topnav {
    background-color: #333;
    width:100%;
    padding:0;
    position: relative;
    z-index: 2;
}

.dropbtn {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: monospace;
    border: none;
}
.topnav a {
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: monospace;
}

.topnav a:hover, .dropdown:hover .dropbtn{
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 px 8 px 16 px 0 px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}















/*
nav {
    background-color: aquamarine;
}

#ul1 {
    list-style: none;
    text-align: right;
    
}

li {
    display: inline;
    font-size: 25px;
    padding: 10px;
    margin-right: 10px;
}

#drop {
    display: none;
}*/